*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 'roboto';
    font-weight: 400;
  
}
img{
    width: 100%;

}

#square{
    width: 100%; 
    height: 12px; 
    margin-top: -4px;

    background-color: #2A4D6B;
}

.title{
    font-size: 240%;
  font-weight: 400;
  width: 97%;
  padding-bottom: 6px;
  display: inline-table;
  border-bottom: 2px solid #333;
  margin: 30px 0;
  margin: 2rem auto;
 justify-content: center;
 margin-left: 20px;
 /* font-family: roboto,neo-grotesque sans-serif */
}

section{
    width: 100%; 
    display: flex;
    
    }
    

    
    .flexone{
        flex:1 ;
        background-image: url(img/ree.svg);
        padding-left: 20px;
        padding-right: 20px;
        border: 1px;
        
       
        
    }
    
    .flextwo{
        flex: 1;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px;
        
    
    }
    .one{
        display: flex;
        gap: 2rem;
        margin-top: 50px;
        margin-bottom: 25px;
        
       
    }

    .image{
        width: 40px;
        margin-top: -12px;
        
    }

    h3{
        font-size: 12px;
        /* font-family: 'roboto'; */
    }

    .two{
        display: flex;
        gap: 2rem;
        margin-bottom: 25px;
       

    }

    .three{
        display: flex;
        gap: 2rem;
        margin-bottom: 25px;
        
    }
    .four{
        display: flex;
        gap: 2rem;
        margin-bottom: 25px;
       
    }
    .five{
        display: flex;
        gap: 2rem;
        margin-bottom: 25px;
       
    }
    .six{
        display: flex;
        gap: 2rem;
        margin-bottom: 25px;
    }
    .seven{
        display: flex;
        gap: 2rem;
        margin-bottom: 25px;
       
    }
    .eight{
        display: flex;
        gap: 2rem;
        margin-bottom: 25px;
       
        
    }

    .nine{
        display: flex;
        gap: 2rem;
        margin-bottom: 25px;
       
    }

    .ten{
        display: flex;
        gap: 2rem;
        margin-bottom: 25px;
       
    }

    .eleven{
        display: flex;
        gap: 2rem;
        margin-bottom: 25px;
    }

    #sq{
        width: 100%; 
        height: 35px; 
        background-color: #8AB8E0;
        padding: 6px;
    }

    p.heading{
        text-align: center; 
        color: #2A4B6D;
        
    }

    .first{
        display: flex;
        gap: 2rem;
        
    }
    .images{
        width: 300px;
        margin-top: 35px;
    }
    h2{
        font-size: 15px;
        line-height: 2rem;
        margin-top: 35px;
    }

    .second{
        display: flex;
        gap: 2rem;
        
    }
    .third{
        display: flex;
        gap: 2rem;
    }