/* *{
    padding: 0;
    margin: 0;

}

img{
    width: 100%;
    height: 450px;
} */


   
    #square{
        width: 100%; 
        height: 38px; 
        background-color: #2A4D6B;
        
        
        
    } 

  .address{
    display: flex;
  } 
 
    .flexone{
        flex:1 ;
        margin-left: 20px;

        
    }
    
    .flextwo1{
        flex: 1;
        margin-top: 70px;
        margin-left: 40px;
    }

    .flexthree{
        flex: 1;
        margin-left: 20px;
    }
    .flexfour{
        flex: 1;
        margin-top: 70px;
        margin-left: 40px;

    }
    .flexfive{
        flex: 1;
        margin-left: 20px;
    }

    .flexsix{
        flex: 1;
        margin-top :70px; 
        margin-left: 40px;
    }
    .container{
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    
    iframe{
        width: 102%;
        height: 500px;
    }

   
   .title{
    font-size: 240%;
  font-weight: 400;
  width: 97%;
  padding-bottom: 6px;
  display: inline-table;
  border-bottom: 2px solid #333;
  margin: 30px 0;
  margin: 2rem auto;
 justify-content: center;
 margin-left: 20px;

 }
 .vertical 
    {
        content:"";
        position: absolute;
        z-index: -1;
        top: 564px;
        bottom: 0;
        left: 50%;
        border-left: 2px dotted #157492; /*change these values to suit your liking*/
         height: 860px;
        
        
    }
    hr {
        border: none;
        border-top: 2px dotted #157492;
        color: #fff;
        background-color: #fff;
        height: 2px;
        width: 663px;
        
        
      }
     .horizontal{
        border: none;
        border-top: 2px dotted #157492;
        color: #fff;
        background-color: #fff;
        height: 2px;
        width: 600px;
    

    }
  

.lc{
    text-align: justify;
    font-size: 2rem;
}